*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Título */
.display-none{
    display: none;
}
.title{
    font-size: 2em;
    text-align: center;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgba(242, 242, 245, .8);
}

.hide{
    visibility: hidden;
}
#buttons{
    margin: 30px 0px;
    text-align: center;
}
#buttons button{
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    transition: .5s;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px gray;
}
#buttons button:active{
    background-color: #202020;
    color: #ffffff;
    background-size: 100%;
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(0, 0, 255);
    transform: scale(.9);
}
#buttons button:hover{
    background-color: #202020;
    color: #ffffff;
    background-size: 100%;
    transition: .2s;
    box-shadow: 0px 0px 20px rgb(0, 0, 255);
}


#container-grid{
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 3px solid #151515;
    box-sizing: border-box;
    flex: 1 1 33%;
}
#message{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 50%;
    background-color: #151515;
    opacity: .9;
    color: #ffffff;
    background-color: #151515;
    border-radius: 3px;
}

#block-1, #block-2, #block-3{
    border-top: none;
}
#block-1, #block-4, #block-7{
    border-left: none;
}

#block-3, #block-6, #block-9{
    border-right: none;
}

#block-7, #block-8, #block-9{
    border-bottom: none;
}

.x{
    font-size: 5em;
    display: inline-block;
    line-height: 100px;
}

.o{
    width: 50px;
    height: 50px;
    border: 5px solid rgb(200, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.hide{
    visibility: hidden;
}

#score-container{
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}

.x-line{
    margin-right: 10px;
}

#o{
    display: inline-block;
    border: 5px solid rgb(200, 0, 0);
    width: .6em;
    height: .6em;
    border-radius: 50%;
    margin:0px 10px ;
}

